Source: steam-i686
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: games
Priority: optional
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               dh-exec,
               lintian

Package: steam-i686
Architecture: arm64
Section: games
Priority: optional
Depends:  libc6:armhf, 
          libsdl2-2.0-0:armhf, 
          libsdl2-image-2.0-0:armhf, 
          libsdl2-mixer-2.0-0:armhf, 
          libsdl2-ttf-2.0-0:armhf, 
          libopenal1:armhf, 
          libpng16-16:armhf, 
          libfontconfig1:armhf, 
          libxcomposite1:armhf, 
          libbz2-1.0:armhf, 
          libxtst6:armhf, 
          libsm6:armhf, 
          libice6:armhf, 
          libxinerama1:armhf, 
          libxdamage1:armhf, 
          libdrm2:armhf, 
          libgbm1:armhf, 
          libibus-1.0-5, 
          zenity, 
          libgl1:armhf, 
          libgl1-mesa-dri:armhf, 
          binfmt-support,
          box64:arm64,
          box86:armhf,
          pkexec | policykit-1,
          realpath,
          curl,
          file,
          xz-utils,
Replaces: steam, steam-devices, steam-installer, steam64
Provides: steam, steam-devices, steam-installer
Homepage: http://www.steampowered.com/
Description: Launcher for the Steam software distribution service
 Steam is a software distribution service with an online store, automated
 installation, automatic updates, achievements, SteamCloud synchronized
 savegame and screenshot functionality, and many social features.